body {
    font-family: Arial, sans-serif;
    margin: 25px;
    line-height: 1.6;
}

header, nav, footer {
    background: #1a2b49;
    color: rgb(243, 243, 243);
    padding: 20px;
    margin-bottom: 30px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 15px;
    min-height: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eeeeee;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #182a47;
}

footer {
    margin-top: 35px;
    text-align: center;
    font-size: 0.9em;
}